html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
  padding: 1rem 0;
}

form label {
  font-weight: 600;
  color: #3c6a70;
}

.form-control:focus {
  border-color: #4ca1af;
  box-shadow: 0 0 5px rgba(76, 161, 175, 0.5);
}

.btn-primary {
  background-color: #4ca1af !important;
  border: none;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #2c3e50 !important;
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(44, 62, 80, 0.3);
}

.alert {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.alert.show {
  opacity: 1;
}

.btn-ride {
  border-radius: 500px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 8px,
    rgba(0, 0, 0, 0.04) 0px 4px 4px;
  border: none;
  padding: 12px;
  height: 50px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: #000000;
  color: white;

  &:hover {
    background-color: #333333;
  }
}
.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 99999;
}

.toast-item {
  min-width: 260px;
  max-width: 320px;
  padding: 12px 14px;
  border-radius: 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;

  background: #222;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

  transform: translateX(120%);
  opacity: 0;
  transition: all 0.35s ease;
  position: relative;
  overflow: hidden;
}

/* ANIMACIÓN ENTRADA */
.toast-item.show {
  transform: translateX(0);
  opacity: 1;
}

/* TIPOS */
.toast-item.success {
  background: linear-gradient(135deg, #16a34a, #22c55e);
}

.toast-item.error {
  background: linear-gradient(135deg, #dc2626, #ef4444);
}

.toast-item.info {
  background: linear-gradient(135deg, #2563eb, #3b82f6);
}

.toast-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}
