/* Ahora el selector coincide con el ID o clase del HTML */
.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.carousel-inner, .carousel-item, .carousel img {
  height: 100vh;
  object-fit: cover; 
}

.mainWrapper {
  position: relative;
  height: 100vh;
  width: 100%;
}

.filter-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 5%;
  width: 40%;
  gap: 0.5rem;
  z-index: 10; 
}

.search-btn {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}